@model DESAFIO.Models.notas

@{
    ViewData["Title"] = "Deletar nota";
}

<h2>Deletar notas</h2>

<h3>Tem certeza que deseja deletar essas notas?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
              @Html.DisplayFor(model => model.estudante.nome)
        </dd>
        <dt class = "col-sm-2">
            Disciplina
        </dt>
        <dd class = "col-sm-10">
             @Html.DisplayFor(model => model.nomeDisciplina)
        </dd>
        <dt class = "col-sm-2">
            Avaliação 1
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.av1)
        </dd>
        <dt class = "col-sm-2">
           Avaliação 2
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.av2)
        </dd>
        <dt class = "col-sm-2">
            Avaliação 3
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.av3)
        </dd>
        <dt class = "col-sm-2">
            Média
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.media)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codDisciplina" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
